/* Scroll Bars */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#mainContainer{
  display: grid;
  grid-template-columns: 1fr 50vw 1fr;
}

.close{
  /* absolute -top-2 right-2 cursor-pointer text-[24px] font-bold hover:text-red-500 */
  position: absolute;
  top: -.5rem;
  right: .5rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  transition: color 0.3s ease-in-out;
  color:white;
  visibility: hidden;
  opacity: 0;
  transition: 300ms;
}

.close:hover{
  color: #ff0000;
}

.equation:hover .close{
  visibility: visible;
  opacity: 1;
}

.indicator{
  transition: 300ms;
  position: absolute;
  top: 0;
  bottom: 0;
  width:40px;
  height:40px;
}

.indicator-false{
  right:0;
}

.variable{
  transition: 300ms;
  max-height: 40px;
  height:9999px;
  overflow: hidden;
}

.variable:hover{
  @apply bg-sky-900;
  max-height: 60px;
}

.variable:hover .close{
  visibility: visible;
  opacity: 1;
}

.variable:hover .padder{
  max-height: 20px;
}

.padder{
  transition: 300ms;
  height:20px;
  max-height: 0;
  width: 100%;
}
